body {
  display: flex;
  font-family: "Ranchers", Arial, Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background-image: url(./img/desert2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.d-none {
  display: none !important;
}

.hide {
  opacity: 0;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 20;
  position: absolute;
  width: 100%;
  top: 50px;
}

.startscreen, .loadingscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 820px;
  height: 485px;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  margin-top: 50px;
}

.loadingscreen{
  background-color: black;
}

.start-img {
  width: 100%;
  height: 100%;
}

.startscreen-button {
  text-align: center;
  height: 45px;
  cursor: pointer;
  color: black;
  letter-spacing: 1.1px;
  border-radius: 10px;
  border: 2px solid white;
  width: 120px;
  background-color: rgb(250, 164, 60);
  font-family: "Ranchers";
  font-size: 24px;
}

h1 {
  font-size: 64px;
  letter-spacing: 3px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

button {
  cursor: pointer;
}

/*Game Controls Container*/

.game-controls-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 820px;
  height: 480px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(250, 164, 60);
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 50px;
  line-height: 1.6;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 40px;
}

.controls-expl-container {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.keyboard-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.keyboard-img {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.keyboard-img img {
  height: 40px;
  width: 40px;
}

.keyboard-expl {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.explanation-text {
  font-size: 24px;
}

/*Story Container*/

.story-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 820px;
  height: 480px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(250, 164, 60);
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 50px;
  line-height: 1.6;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 40px;
}

.story-headline {
  font-size: 36px;
  margin: 0;
}

canvas {
  background-color: black;
  display: block;
}

/*Game over*/

.game-over-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 820px;
  height: 485px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(250, 164, 60);
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 50px;
  line-height: 1.6;
  padding: 40px;
  font-size: 48px;
}

.game-over-button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

/*Game won*/

.game-won-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 820px;
  height: 485px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(250, 164, 60);
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 50px;
  line-height: 1.6;
  padding: 40px;
  font-size: 24px;
}

/*Privacy Sidebar*/

.privacy-sidebar {
  display: flex;
  margin: 10px;
  gap: 10px;
}

.privacy-button {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgb(250, 164, 60);
}

.legal-button {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgb(250, 164, 60);
}

/*Fullscreen Container*/

.fullscreen-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  max-width: 100%;
  max-height: 100vh;
}

#canvas {
  display: block;
}

/*Fullscreen Icon*/

.fullscreen-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

/*Fullscreen message*/
.fullscreen-message {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  position: absolute;
  font-size: 36px;
  text-align: center;
  height: 100vh;
  width: 100%;
  letter-spacing: 2px;
}

.fullscreen-message.visible {
  display: block;
}

/*Mobile buttons*/

#mobile-buttons-container {
  margin-left: 10px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.mobile-panel {
  display: flex;
  gap: 10px;
}

.mobile-buttons {
  height: 35px;
  width: 35px;
  display: flex;
  border: 1px solid rgb(116, 115, 67);
  border-radius: 10px;
  padding: 3px;
}

/*Sound*/

.game-setting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0px;
  position: absolute;
}

.mute {
  height: 25px;
  position: absolute;
  top: 25px;
  right: 30px;
  cursor: pointer;
  width: 25px;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: rgb(252, 226, 106);
}
